.principal{
    text-align: center;
    text-transform: uppercase;
    font-size: 2cm;
    background-image: url(./Imágenes/fondo1.JPG);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    box-sizing: content-box;
    width: auto;
    height:100vh;
}
.titulo{
    font-family: 'Dosis', sans-serif;
    position: relative;
    background:rgb(245, 245, 245);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}
header{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-size:x-large;
    background-color: rgba(252, 248, 243, 0.2);
    display: flexbox;
}
nav{
    font-size: large;
    text-align-last: left;
    display: flex;
    align-content: space-evenly;
}
.button{
    padding:3px 3px;
    transition: all .3s;
    position: inherit;
}
/* transición de los botones*/
.button:hover{
    color: rgb(240, 240, 240);
}
a{
    text-decoration: none;
    list-style: none;
    color: black;
}
body{
    padding: 0%;
    margin: 0%;
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
    border: 0%;
    background: rgb(235,180,107);
    background: linear-gradient(0deg, rgba(235,180,107,1) 28%, rgba(148,187,233,1) 100%);
    overflow:auto;
}
main{
    padding-left: 2%;
    margin: 0%;
    padding-bottom: 2%;
    padding-right: 2%;
}
.imagen{
    padding: 2px;
    border-radius: 10px;
    background:whitesmoke;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    max-height:max-content;
}
footer{
    padding: 2px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    background-color: black;
    color: whitesmoke;
}
p{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}
.centrar{
    text-align: center;
}

.textoprin{
    background-color: rgba(252, 248, 243, 0.1);
    margin: 4px;
    padding: 5px;
    height: auto;
    flex: 40%;
}
#principal{
    padding: 2%;
    background: rgb(235,180,107);
    background: linear-gradient(0deg, rgba(235,180,107,1) 28%, rgba(148,187,233,1) 100%);
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.mapa{
    max-width: 100%;
    max-height: auto;
}

.subtitulo{
    display:flexbox;
    transition: all 0.5s;
}

/* transición*/
.subtitulo:hover{
    color: rgb(148, 146, 146);
}

@media screen and (min-width: 700px) {
    .principal {
        background-size: 100% 100%;
    }   
}

@media screen and (min-width: 800px) {
    .titulo{
        top: 10px;
    }
}

@media screen and (max-width: 550px) {
    .titulo{
        font-size: 3cm;
        top: 50px;
    }
}

@media screen and (max-width: 280px) {
    .titulo{
        font-size: 2cm;
        top: 70px;
    }
}

@media screen and (max-width: 370px) {
    .titulo{
        font-size: 2.4cm;
    }
}

.boton-formulario{
    background-color: rgba(252, 248, 243, 0.479);
    color: black;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    font-family: 'Bebas Neue', cursive;
    font-size:large;
    align-items: center;
    border: none;
    display: flexbox;
    transition: all 0.5s;
}

/* transición*/
.boton-formulario:hover{
    background-color: black;
    color: whitesmoke;
}

#btn-lugares{
    display: flexbox;
    font-weight: bold;
}
#btn-lugares:hover{
    animation: animate__pulse;
    animation-duration: 3s;
}

.formulario{
    display:inline-flex;
    flex-direction: column;
    padding-bottom: 20px;
}
form{
    display: inline-flex;
    flex-direction: column;
}
